body{
    margin: 0%;
    max-width: 1400px;
  }
  nav {
    display: flex;
    float: right;
    align-items: center;
    height: 80px;
    max-width: 1400px;
  }

  nav button{
     margin-right: 50px;
     background-color: blue;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
  }
  
  nav button a{
    font-size: 20px;
    text-decoration: none;
    color: white;
  }
  
  nav button:hover{
    background-color: black;
  }

  /* SECTION 2: Skills */
  .skills-section {
      background-image: url(images/techskills.jpg);
      padding: 50px 50px;
      background-position: center;
      background-size: cover;
      height: 480px;
      max-width: 1400px;
    }
    
    .skills-section h2 {
      text-align: center;
      color: white;
      margin: 0px 50px;
      font-size: 50px;
      font-weight: bold;
    }
    
    .skills-section .cells {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
    }
    .skills-section .cells .certificate{
      text-align: center;
      color: white;
      margin-top: 10px;
      font-family: Arial;
      margin-bottom: 10px;
      font-size: 20px;
    }
  
    .skills-section .cells .certificate .cell {
      display: flex;
      justify-content: center;
      text-decoration: none;
      align-items: center;
      gap: 10px;
      width: 200px;
      padding: 10px 20px;
      margin: 10px;
      border: 1.5px solid #d3d3d3;
      border-radius: 5px;
    }
    
    .skills-section .cells .certificate .cell img {
      width: 30px;
      height: 30px;
      object-fit: contain;
      border-radius: 2px;
    }
    
    .skills-section .cells .certificate .cell span {
      font-size: 18px;
      color: white;
    }